@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2ecc71;
  color: #fff;
  height: 100vh;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sansita", sans-serif;
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
}

p {
  font-size: clamp(0.875rem, 1.5vw, 1.125rem);
}

a {
  color: #161619;
  text-decoration: none;
  font-size: clamp(0.875rem, 1.5vw, 1.125rem);
}

ul {
  list-style: none;
}

.grid {
  max-width: 1400px;
  margin: 0 auto;
}

.border_img, .movie_outstanding_content {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
}

.img, .movie_outstanding_content a img {
  max-width: 151.9px;
  display: inline-block;
  object-fit: contain;
  transition: 0.3s ease;
}

.border_img:hover .img, .border_img:hover .movie_outstanding_content a img, .movie_outstanding_content a .border_img:hover img, .movie_outstanding_content:hover .img, .movie_outstanding_content:hover a img {
  transform: scale(1.1);
  opacity: 0.8;
}

.banner_img {
  max-width: 100%;
  object-fit: contain;
  max-height: 200px;
}

.header_above {
  padding-top: 10px;
}
.header_above_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_above_nav-img a img {
  width: 150px;
  object-fit: contain;
  max-width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}
.header_above_nav-search, .header_above_nav-balance {
  display: flex;
  align-items: center;
  gap: 0 4px;
}
.header_above_nav-balance .txtsearch {
  min-width: 500px;
  min-height: 53px;
  outline: none;
  background-color: #BEBEBE;
  transition: all 0.3s ease;
}
.header_above_nav-balance .txtsearch:hover, .header_above_nav-balance .txtsearch:active, .header_above_nav-balance .txtsearch:focus {
  background-color: #fff;
}
.header_above_nav-balance .txtsearch::placeholder {
  color: #6a6a6a;
  padding-left: 1rem;
}
.header_above_nav-balance .btn_search {
  background-color: #E6090F;
  color: #fff;
  border: none;
  min-height: 53px;
  min-width: 112px;
  display: block;
  transition: all 0.3s ease;
}
.header_above_nav-balance .btn_search:hover, .header_above_nav-balance .btn_search:active {
  background-color: #ff393f;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.header_above_nav-list_movie {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 10px;
  background-color: #265DA8;
  display: block;
  transition: all 0.3s ease;
}
.header_above_nav-list_movie:hover, .header_above_nav-list_movie:active {
  background-color: #346fc1;
}
.header_above_nav-list_movie a {
  text-decoration: none;
  color: #fff;
}
.header_above_nav_menu, .header_above_nav-balance-search {
  display: none;
}

.header_hidden_nav {
  padding-top: 20px;
}
.header_hidden_nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 10px;
}
.header_hidden_nav-list li a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.25px;
  transition: 0.3s ease;
  font-weight: 600;
}
.header_hidden_nav-list li a:hover {
  color: #e6e5e5;
}
.header_hidden_nav-drop-down span, .header_hidden_nav-drop-down i {
  color: #fff;
  text-transform: capitalize;
}
.header_hidden_nav-drop-down span {
  font-weight: 600;
}
.header_hidden_nav_drop_down {
  position: absolute;
}
.header_hidden_nav-item {
  position: relative;
}
.header_hidden_nav_drop_downs {
  position: absolute;
  min-width: 300px;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 1;
}
.header_hidden_nav_drop_downs ul {
  list-style: none;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 5px 0;
  background-color: rgb(49, 49, 49);
  padding: 5px 0;
  padding-left: 6px;
}
.header_hidden_nav_drop_downs ul li a {
  color: #fff;
  transition: all 0.3s ease;
}
.header_hidden_nav_drop_downs ul li a:hover {
  color: #BEBEBE;
}
.header_hidden_nav-item:hover .header_hidden_nav_drop_downs, .header_hidden_nav-item:focus .header_hidden_nav_drop_downs {
  display: block;
}

/* styles.css */
.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.slide img {
  width: 100%;
  display: block;
  filter: grayscale(70%);
  object-fit: contain;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 0px;
  top: 0;
  color: white;
  background: rgba(37, 37, 37, 0.5);
  padding: 20px;
  border-radius: 4px;
  max-width: 40%;
  min-height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}

.caption h1 {
  margin: 0;
  font-size: 3rem;
  text-transform: capitalize;
}

.caption p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  max-width: 100%;
}

.cta-button {
  background-color: #e50914;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #f40612;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  transition: background-color 0.3s;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  background-color: #bbb;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #717171;
}

.year_of_release {
  display: flex;
  gap: 0 10px;
}

.year_of_release p:nth-child(2) {
  border: 2px solid rgb(232, 232, 232);
  padding: 2px;
}

.actor_master {
  display: flex;
  gap: 0 10px;
  align-items: center;
}

#Featured_Movie {
  padding-top: 10px;
}

.movies_h2 h2 {
  color: #fff;
  text-transform: capitalize;
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
}

.Featured_Movies_container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
  transition: all 0.3s ease;
}

.Featured_Movies {
  display: flex;
  gap: 0 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease;
}

.Movies_Content {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
}
.Movies_Content_img {
  max-width: 151.9px;
  display: inline-block;
  object-fit: contain;
  transition: 0.3s ease;
}
.Movies_Content:hover .Movies_Content_img {
  transform: scale(1.1);
  opacity: 0.8;
}
.Movies_Content:not(:hover) .Movies_Content_img {
  filter: grayscale(100%);
}
.Movies_Content_category {
  position: absolute;
  top: 0;
  background-color: #FED700;
  padding: 0 10px;
  z-index: 1;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.Movies_Content_category span {
  color: #000;
  text-transform: capitalize;
  font-size: 0.8rem;
}
.Movies_Content_number_of_episodes {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FED700;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.Movies_Content_number_of_episodes span {
  color: #000;
  text-transform: capitalize;
  font-size: 0.9rem;
  padding: 0 6px;
}
.Movies_Content_All {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease;
}
.Movies_Content_content_movie {
  color: #fff;
}

.Featured_Movies_content_movie {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.Featured_Movies_content_moviea {
  color: #fff;
  text-decoration: none;
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.movie_outstanding_content {
  display: inline-block;
  overflow: hidden;
}
.movie_outstanding_category {
  position: absolute;
  top: 0;
  background-color: #FED700;
  padding: 0 10px;
  z-index: 1;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.movie_outstanding_category span {
  color: #000;
  text-transform: capitalize;
  font-size: 0.8rem;
}
.movie_outstanding_number_of_episodes {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FED700;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.movie_outstanding_number_of_episodes span {
  color: #000;
  text-transform: capitalize;
  font-size: 0.9rem;
  padding: 0 6px;
}
.movie_outstanding_all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 45%;
  }
  .grid {
    max-width: 1000px;
  }
  .header_above_nav {
    padding: 0 10px;
  }
  .header_above_nav-img a img {
    display: block;
    width: 130px;
    object-fit: contain;
  }
  .header_above_nav-balance .txtsearch {
    min-width: 350px;
    min-height: 40px;
  }
  .header_above_nav-balance .btn_search {
    min-height: 40px;
  }
  .header_above_nav-list_movie {
    min-height: 40px;
  }
  .header_above_nav_menu {
    display: block;
  }
  .header_above_nav_menu i {
    color: #fff;
    font-size: 1.4rem;
  }
  .header_above_nav_menu_border {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(32, 32, 33);
    height: 100%;
    max-width: 300px;
    transform: translateX(-100%);
    transition: 0.3s ease;
    z-index: 3;
  }
  .header_above .active {
    transform: translateX(0%);
  }
  .header_above_nav_menu_border ul {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    list-style: none;
    gap: 5px 0;
    padding-top: 10px;
    overflow-y: scroll;
  }
  .header_above_nav_menu_border ul li a, .header_above_nav_menu_border ul li span {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 0.25px;
    font-weight: 500;
    transition: 0.3s ease;
  }
  .header_above_nav_menu_border ul li a:hover, .header_above_nav_menu_border ul li a:active {
    color: #b4b4b4;
  }
  .header_above_nav_menu_border i {
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 1.2rem;
    transition: 0.3s ease-in;
  }
  .header_above_nav_menu_border i:hover, .header_above_nav_menu_border i:active {
    color: #b4b4b4;
  }
  .header_above .drop_downs {
    height: 0px;
    overflow: hidden;
    transition: 0.3s ease;
  }
  .header_above .drop_downs ul {
    display: flex;
    align-items: start;
    list-style: none;
  }
  .header_above .appear {
    height: 320px;
    transition: 0.3s ease;
  }
  .header_above_nav_menu_border ul li div {
    display: flex;
    align-items: center;
    gap: 0 5px;
  }
  .header_above_nav_menu_border ul li div input {
    border-radius: 4px;
    outline: none;
    padding: 4px 0;
  }
  .header_above_nav_menu_border ul li div input::placeholder {
    color: #b4b4b4;
    padding-left: 4px;
  }
  .header_above_nav_menu_border ul li div label {
    background-color: #ff393f;
    border-radius: 4px;
    padding-bottom: 6px;
    padding-left: 5px;
    transition: all 0.3s ease;
  }
  .header_above_nav_menu_border ul li div label:hover {
    background-color: #fb6161;
  }
  .header_hidden {
    display: none;
  }
  .caption {
    display: flex;
    gap: 0px;
  }
  .caption h1 {
    font-size: 1.5rem;
  }
  .caption p {
    font-size: 13px;
  }
  .year_of_release p {
    font-size: 13px;
  }
  .actor_master strong,
  .actor_master span {
    font-size: 13px;
  }
  .prev,
  .next {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .header_above_nav-img a img {
    margin-left: 150px;
  }
  .header_above_nav-balance {
    display: none;
  }
  .header_above_nav_menu, .header_above_nav-balance-search {
    display: block;
  }
  .header_above_nav_menu i, .header_above_nav-balance-search i {
    color: #fff;
  }
  .caption {
    display: flex;
    gap: 0px;
    justify-content: center;
  }
  .caption h1 {
    font-size: 1.2rem;
  }
  .caption p {
    font-size: 11px;
  }
  .year_of_release p {
    font-size: 11px;
  }
  .actor_master strong,
  .actor_master span {
    font-size: 11px;
  }
  .prev,
  .next {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .header_above_nav-img a img {
    margin-left: 150px;
  }
  .header_above_nav-balance {
    display: none;
  }
  .header_above_nav_menu, .header_above_nav-balance-search {
    display: block;
  }
  .header_above_nav_menu i, .header_above_nav-balance-search i {
    color: #fff;
  }
  .caption {
    display: flex;
    gap: 0px;
    justify-content: center;
  }
  .caption h1 {
    font-size: 1.2rem;
  }
  .caption p {
    font-size: 11px;
  }
  .year_of_release p {
    font-size: 11px;
  }
  .actor_master strong,
  .actor_master span {
    font-size: 11px;
  }
  .prev,
  .next {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
