@media screen and (max-width:1024px) {
    body
    {
        font-size: 45%;
    }
    .grid
    {
        max-width: 1000px;
    }
    .header_above
    {
        &_nav
        {
            padding: 0 10px;
        }
        &_nav-img a img
        {
            display: block;
            width: 130px;
            object-fit: contain;
        }
        &_nav-balance .txtsearch
        {
            min-width: 350px;
            min-height: 40px;
        }
        &_nav-balance .btn_search
        {
            min-height: 40px;
        }
        &_nav-list_movie
        {
            min-height: 40px; 
        }
        &_nav_menu
        {
            display: block;
        }
        &_nav_menu i
        {
            color: $font-color;
            font-size: 1.4rem;
        }
        &_nav_menu_border
        {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgb(32, 32, 33);
            height: 100%;
            max-width: 300px;
            transform: translateX(-100%);
            transition: 0.3s ease;
            z-index: 3;
        }
       .active
        {
            transform: translateX(0%);
        }
        &_nav_menu_border ul
        {
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            list-style: none;
            gap: 5px 0; 
            padding-top: 10px; 
            overflow-y:scroll;
        }
        &_nav_menu_border ul li a,
        &_nav_menu_border ul li span
        {
            text-decoration: none;
            color: $font-color;
            text-transform: capitalize;
            font-size: 1rem;
            letter-spacing: 0.25px;
            font-weight: 500;
            transition:  0.3s ease;
        }
        &_nav_menu_border ul li a:hover,
        &_nav_menu_border ul li a:active
        {
            color: #b4b4b4;
        }
        &_nav_menu_border i
        {
            display: flex;    
            justify-content: end;
            padding-top:10px ;
            padding-right: 10px;
            font-size: 1.2rem; 
            transition: 0.3s ease-in;
        }
        &_nav_menu_border i:hover,
        &_nav_menu_border i:active
        {
            color: #b4b4b4;
        }
        .drop_downs
        {
            height: 0px;
            overflow: hidden;
            transition: 0.3s ease;
        }
        .drop_downs ul
        {
            display: flex;
            align-items: start;
            list-style: none;
        
        }
        .appear
        {
            height:  320px;
            transition: 0.3s ease;
        }
        &_nav_menu_border ul li div
        {
            display: flex;
            align-items: center;
            gap: 0 5px;
        }
        &_nav_menu_border ul li div input
        {
            border-radius: 4px;
            outline: none;
            padding: 4px 0;
        }
        &_nav_menu_border ul li div input::placeholder
        {
            color: #b4b4b4;
            padding-left: 4px;
        }
        &_nav_menu_border ul li div label 
        {
            background-color: $button-active;
            border-radius: 4px;
            padding-bottom: 6px;
            padding-left: 5px;
            transition: all 0.3s ease;
        } 
        &_nav_menu_border ul li div label:hover
        {
            background-color: #fb6161;
        }
    }
    .header_hidden
    {
        display: none;
    }
   
    .caption
    {
        display: flex;
        gap: 0px;
    }
    .caption h1
    {
        font-size: 1.5rem;
    }
    .caption p
    {
        font-size: 13px;
    }
    .year_of_release  p
    {
        font-size: 13px;
    }
    .actor_master strong,
    .actor_master span
    {
        font-size: 13px;
    }
    .prev,
    .next
    {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    // body
    // {
    //     font-size: 40%;
    // }
    .header_above
    {
        &_nav-img a img
        {
          margin-left: 150px;
        }
        &_nav-balance
        {
            display: none;
        }
        &_nav_menu,
        &_nav-balance-search
        {
            display: block;
        }
        &_nav_menu i,
        &_nav-balance-search i
        {
           color: $font-color;
        }
    }
    .caption
    {
        display: flex;
        gap: 0px;
        justify-content: center;
    }
    .caption h1
    {
        font-size: 1.2rem;
    }
    .caption p
    {
        font-size: 11px;
    }
    .year_of_release  p
    {
        font-size: 11px;
    }
    .actor_master strong,
    .actor_master span
    {
        font-size: 11px;
    }
    .prev,
    .next
    {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    // body
    // {
    //     font-size: 40%;
    // }
    .header_above
    {
        &_nav-img a img
        {
          margin-left: 150px;
        }
        &_nav-balance
        {
            display: none;
        }
        &_nav_menu,
        &_nav-balance-search
        {
            display: block;
        }
        &_nav_menu i,
        &_nav-balance-search i
        {
           color: $font-color;
        }
    }
    .caption
    {
        display: flex;
        gap: 0px;
        justify-content: center;
    }
    .caption h1
    {
        font-size: 1.2rem;
    }
    .caption p
    {
        font-size: 11px;
    }
    .year_of_release  p
    {
        font-size: 11px;
    }
    .actor_master strong,
    .actor_master span
    {
        font-size: 11px;
    }
    .prev,
    .next
    {
        display: none;
    }
}