// Màu sắc
$primary-color: #161619;
$secondary-color: #2ecc71;
$danger-color: #e74c3c;
$font-color:#fff;
$button-active:#ff393f;
// Phông chữ
$font-stack: Helvetica, Arial, sans-serif;
$heading-font: 'Sansita', sans-serif;
